{% extends 'JetBredaBundle::layoutAdmin.html.twig'%}

{% set active = "soporte"%}

{% block container %}
<div class="row">
	<div class="span3 offset4 well">
		<h2>Zona de Administración</h2>
		<hr>
		<span style="font-size:16px;">Contacto soporte técnico: <a href="mailto:zeopix@gmail.com">ivan.guillen.alles@gmail.com</a> <br><br> Página web: <a href="http://3media.es" target="_blank">http://3media.es</a></span>
	</div>
</div>
{% endblock %}