.smallslider, .bigslider { 
	overflow: hidden;
	box-shadow: 0px 0px 10px #AAA;
}

.story { font-size: 16px; margin-top: 10px; line-height: 22px; text-align: right;}
.bigslider{ width:849px; margin-left: 0px; height: 377px; margin-left: 30px}
.smallslider{ width:410px; height:182px; margin-left: 5px; }

.card {
	
}

.row .span3.card {
	width: 320px; margin: 20px; padding: 10px;
	margin-left: 40px;
}
.card img {
	width: 140px;
	max-height: 180px;
	box-shadow: 0px 0px 2px #333;
}

.card span { width: 120px; float: left;}
.card span.name { font-size: 22px; color: #333; display: block; width: 250px; margin: 10px;  }
.card span.desc { font-size: 12px; padding: 14px; color: #222; text-shadow: 1px 1px 0px #FFF; display: block; }
.card span.zona { font-size: 14px; clear: both; margin-right:  42px; text-align: center; }


.background,.background-mini {
	background-image: url(../assets/background1.png);
	background-repeat: repeat-y; 
	background-size: 100%;
	width: 100%;
	height: 400px;
	opacity: 0.7;
	margin: 0px;
	padding: 0px;
	margin-top: 180px;
	position: absolute;
	z-index: -1;
	box-shadow: 0px 0px 10px black inset;
}
.background-mini {
	height: 300px;
	margin-left: -20px;
}

.row .span2 h2 {
	margin-top: 20px;
	color: #EEE;
	text-shadow: 1px 1px 0px black;
}

.span4 .image { float:left; width: 105px; float: left;}
.span4 .content { float:left; width: 160px; float: left; margin: 10px;}
.span8 .image { float:left; width: 205px; float: left;}
.span8 .content { float:left; width: 380px; float: left; margin: 10px;}