form label
{
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
}

form
{
    margin-left: 10px;
}

.controlsList
{
    list-style: none;
}

.controlsList li{
    margin-top: 15px;
}