{% extends "::base.html.twig" %}
{% block background %}{% endblock %}
{% block menuHeader %}
<li {% if active == 'soporte' %}class="active"{% endif %}><a href="{{ path('admin')}}">Soporte</a></li>
<li {% if active == 'alquiler' %}class="active"{% endif %}><a href="{{ path('admin_alquiler')}}">Alquileres</a></li>
<li {% if active == 'home' %}class="active"{% endif %}><a href="{{ path('admin_home')}}">Pagina de inicio</a></li>
<li {% if active == 'clientes' %}class="active"{% endif %}><a href="{{ path('admin_clientes')}}">Clientes</a></li>

{% endblock %}

{% block extraNavbar %}
         <div class="pull-right">
         <p style="font-size: 18px; padding-top: 10px; color: #FFF; text-shadow: 1px 1px 0px #000;">Administrador</p>
         </div>
                {% endblock %}