{% extends '::base.html.twig'%}
        {% set active = 'alquiler' %}
{% block container %}
<div class="row">
	<div class="span10 offset1">
    {% for alq in  Alquileres %}
		<div class="span4">
			<div class="image">
 	           <a href="{{ path('alquiler', {'id': alq.id}) }}"><img src="{{ asset(alq.fotos.0.webPath)}}" width="200px"></a>
 	        </div>
 	        <div class="content">
 	        	<h5>Alquiler de nave industrial en {{ alq.poblacion }}</h5>
	            <p> {{ alq.descipcion|truncate(30) }}</p>
 	        </div>
        </div>
    {% else %}
    <b>No tenemos alquileres disponibles</b>
    {% endfor %}
    </div>
</div>

{% endblock %}