{% extends '::base.html.twig'%}
{% set active = 'index' %}
{% block secondHeader %}
          <div class="row">
          	<div class="span9" style="">
          	
          	<div class="smallslider visible-phone">
       <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <img width="410px" src="{{ asset('bundles/jetbreda/assets/slide1_small.png') }}" alt="">
                
              </div>
              <div class="item">
                <img width="410px" src="{{ asset('bundles/jetbreda/assets/slide2_small.png') }}" alt="">
               
              </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
          
          </div>
          
        </div>
    <div class="bigslider hidden-phone">
       <div id="myCarousel2" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <img src="{{ asset('bundles/jetbreda/assets/slide1_small.png') }}" alt="">
                
              </div>
              <div class="item">
                <img src="{{ asset('bundles/jetbreda/assets/slide2_small.png') }}" alt="">
               
              </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
          
          </div>
    </div>
          
          
          	</div>
          	
          	<div class="span2" style="padding: 20px">
          		
          		<h2>Naves, oficinas y pisos</h2>
          		 <p class="story">Nuestros productos se sitúan principalmente en el baix llobregat y alrededores.</p>
          		
          		
          	</div>
          </div>
          <br><br>
          <div class="row mkt" style="margin-top: 40px">
          	<div class="span1" style="padding-top: 35px"><p style="font-size:50px" class="icon-inbox"></p></div>
          	<div class="span3">
          	<h3>Naves</h3>
          	<hr>
          	<p>
          	Naves en el baix Llobregat, de 500m2 a 5500m2
          	</p>
          	</div>
          	<div class="span1" style="padding-top: 35px;"><p style="font-size:50px" class="icon-briefcase"></p></div>
          	<div class="span3">
          	<h3>Oficinas</h3>
          	<hr>
          	<p>
          	Oficinas en Barcelona, de 100m2 a 150m2
          	</p>
          	</div>
          	<div class="span1" style="padding-top: 35px"><p style="font-size:50px" class="icon-home"></p></div>
          	          	<div class="span3">
          	<h3>Pisos</h3>
          	<hr>
          	<p>
          	Pisos en Barcelona, de 70m2 a 150m2
          	</p>
          	</div>
          </div>

        {% endblock %}
  {% block background %}
  	<div class="background"></div>
  {% endblock %}
