{% extends '::base.html.twig'%}
{% set active = 'nosotros' %}
{% block container %}
<div class="row about-us">
<div class="span6 offset1 about" style="padding-top: 50px">
<h3>{% trans %}nosotros.title{% endtrans %}</h3>
<hr>
<b>{%trans%}nosotros.subtitle1{%endtrans%}</b>, {% trans %}nosotros.subtitle2{% endtrans %}:
<br>
<ul>
    <li>{% trans %}nosotros.content1.1{% endtrans %}<br>{% trans %}nosotros.content1.2{% endtrans %}.
    </li>
    <li>
        {% trans %}nosotros.content2{% endtrans %}
    </li>
    <li>
       {% trans %}nosotros.content3{% endtrans %}
    </li>
</ul>

</div>
<div class="span3 clients" style="padding: 30px; padding-top: 50px">
    <h3>{% trans %}nosotros.ourclients{% endtrans %}</h3>
    <hr>
        <ul>
            {%for c in clientes %}
            <li>{{c.nombre}}</li>
            {%endfor%}
            {#
            <li>Cantalou, S.A.</li>
            <li>Geze Iberia, S.R.L.</li>
            <li>Hill-Rom Iberia, S.L.</li>
            <li>Leeroy Merlin España, S.L.</li>
            <li>Mantenimientos ayuda a la explotación y servicios, S.A.</li>
            <li>Ofimatic, S.A.</li>
            <li>Serunion, S.A.</li>
            <li>Kannegiesser España, S.L.</li>
            <li>FBO Organisation, S.L.</li>
            #}
        </ul>
</div>
</div>
        {% endblock%}